<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mfLvarPerFrame" value="15" />
    <add key="logFilePath" value="DynamicLOD.log" />
    <add key="logLevel" value="Debug" />
    <add key="waitForConnect" value="true" />
    <add key="openWindow" value="true" />
    <add key="simBinary" value="FlightSimulator" />
    <add key="simModule" value="WwiseLibPCx64P.dll" />
    <add key="tlodPairs" value="0:1.0|1500:1,5|5000:2" />
    <add key="olodPairs" value="0:1.0|2500:1,5|7500:2" />
    <add key="useTargetFps" value="true" />
    <add key="targetFpsIndex" value="2"/>
    <add key="targetFps" value="40" />
    <add key="constraintTicks" value="60" />
    <add key="decreaseTlod" value="0.5" />
    <add key="decreaseOlod" value="0.5" />
    <add key="minLod" value="1" />
  </appSettings>
</configuration>